<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.janclarin.jisho-alfred-workflow</string>
	<key>connections</key>
	<dict>
		<key>1865FB59-0F30-4428-B737-3D4AAF0E1A79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CE6446D-82ED-4381-BC48-C7DE74BF234D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>75C8F161-A27B-42A5-9078-A472596EAEB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CE6446D-82ED-4381-BC48-C7DE74BF234D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jan Clarin</string>
	<key>description</key>
	<string>Easily search Jisho.org, a powerful Japanese-English dictionary.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jisho.org</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://jisho.org/search/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5CE6446D-82ED-4381-BC48-C7DE74BF234D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ji</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading definitions...</string>
				<key>script</key>
				<string>python jisho.py "{query}"</string>
				<key>subtext</key>
				<string>Search for Japanese and English words</string>
				<key>title</key>
				<string>Jisho.org</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>75C8F161-A27B-42A5-9078-A472596EAEB3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>じ</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading definitions...</string>
				<key>script</key>
				<string>python jisho.py "{query}"</string>
				<key>subtext</key>
				<string>Search for Japanese and English words</string>
				<key>title</key>
				<string>Jisho.org</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1865FB59-0F30-4428-B737-3D4AAF0E1A79</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1865FB59-0F30-4428-B737-3D4AAF0E1A79</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>5CE6446D-82ED-4381-BC48-C7DE74BF234D</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>75C8F161-A27B-42A5-9078-A472596EAEB3</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/janclarin/jisho-alfred-workflow</string>
</dict>
</plist>
