**.DS_STORE
**.log
vim/plugged/**
tmux/plugins
**.local*
**.spl
vim/autoload/plug.vim.old
alfred/Alfred.alfredpreferences/workflows/user.workflow.6B36CA51-F568-4BCB-BB70-C946943DADF5
config/*
!config/nvim/
!config/alacritty/
!config/tmux/
