*
!*/

!alacritty/**/*
!bat/**/*
!bigquery/**/*
!dlv/**/*
!ergodox/**/*
!espanso/**/*
!fonts/**/*
!gh/**/*
!git/**/*
!jetbrains/**/*
!lazygit/config.yml
!latexmk/**/*
!nvim/**/*
!obsidian/**/*
!ripgrep/**/*
!setup/**/*
!skhd/**/*
!tmux/**/*
!yabai/**/*
!yomichan/**/*
!zsh/**/*
!ghostty/**/*

gh/hosts.yml
nvim/lazy-lock.json
dlv/.dbg_history
espanso/match/local.yml

**/.DS_Store
**/*.log
**/*.spl
**/*.add
