*
!*/

!alacritty/**/*
!bat/**/*
!bigquery/**/*
!btop/**/*
!dlv/**/*
!ergodox/**/*
!fonts/**/*
!gh/**/*
!git/**/*
!jetbrains/**/*
!lazygit/**/*
!nvim/**/*
!obsidian/**/*
!ripgrep/**/*
!setup/**/*
!tmux/**/*
!yabai/**/*
!yomichan/**/*
!zsh/**/*

gh/hosts.yml
nvim/lazy-lock.json
lazygit/state.yml

**/.DS_Store
**/*.log
**/*.spl
**/*.add
