<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kapeli.dash.workflow</string>
	<key>connections</key>
	<dict>
		<key>12B8CAB5-9FEE-46F2-B67E-026F4BE48A88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C09F008-55F3-4966-BACC-DF3176E148A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>406C4166-C9CF-496F-8DB1-D43CE5211BEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C09F008-55F3-4966-BACC-DF3176E148A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5C09F008-55F3-4966-BACC-DF3176E148A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy</string>
			</dict>
		</array>
		<key>dash_keyword_bash</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_coffee</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_docker</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_elastic</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_elisp</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_emacs</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_go</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_http</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_java</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_js</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_man</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_md</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_mongo</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_node</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_redis</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>dash_keyword_spring</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_normal</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_cmd</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>dash_action_alt</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kapeli</string>
	<key>description</key>
	<string>Search Dash for query</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dash</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -g "dash-workflow-callback://{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>dash_action_normal</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>12B8CAB5-9FEE-46F2-B67E-026F4BE48A88</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -g "dash-workflow-callback://{query}&amp;modifierkey=cmd"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>dash_action_cmd</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>dash</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "{query}"</string>
				<key>subtext</key>
				<string>Search Dash for "{query}"</string>
				<key>title</key>
				<string>Search Dash</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5C09F008-55F3-4966-BACC-DF3176E148A5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>406C4166-C9CF-496F-8DB1-D43CE5211BEA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -g "dash-workflow-callback://{query}&amp;modifierkey=alt"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>dash_action_alt</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string>Please read what's in the "Script:" section below</string>
				<key>script</key>
				<string>Dash dynamically updates this workflow with docset and search profile keywords.

Do not try to change the keywords from within Alfred, as Dash will overwrite your changes. If you want to change a keyword, change it from within Dash (in Preferences &gt; Docsets).

That said, you can edit anything else within this workflow (including adding new triggers/actions/hotkeys).</string>
				<key>subtext</key>
				<string>Please read what's in the "Script:" section below</string>
				<key>title</key>
				<string>PLEASE README</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_note_readme</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>bash</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "bash:{query}"</string>
				<key>subtext</key>
				<string>Search Bash for "{query}"</string>
				<key>title</key>
				<string>Search Bash</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_bash</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>coffee</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "coffee:{query}"</string>
				<key>subtext</key>
				<string>Search CoffeeScript for "{query}"</string>
				<key>title</key>
				<string>Search CoffeeScript</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_coffee</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>docker</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "docker:{query}"</string>
				<key>subtext</key>
				<string>Search Docker and 1 other for "{query}"</string>
				<key>title</key>
				<string>Search Docker</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_docker</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>elastic</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "elastic:{query}"</string>
				<key>subtext</key>
				<string>Search ElasticSearch for "{query}"</string>
				<key>title</key>
				<string>Search ElasticSearch</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_elastic</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>elisp</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "elisp:{query}"</string>
				<key>subtext</key>
				<string>Search Emacs Lisp for "{query}"</string>
				<key>title</key>
				<string>Search Emacs Lisp</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_elisp</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>emacs</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "emacs:{query}"</string>
				<key>subtext</key>
				<string>Search Emacs for "{query}"</string>
				<key>title</key>
				<string>Search Emacs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_emacs</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>go</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "go:{query}"</string>
				<key>subtext</key>
				<string>Search Go for "{query}"</string>
				<key>title</key>
				<string>Search Go</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_go</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>http</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "http:{query}"</string>
				<key>subtext</key>
				<string>Search HTTP Status Codes for "{query}"</string>
				<key>title</key>
				<string>Search HTTP Status Codes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_http</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>java</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "java:{query}"</string>
				<key>subtext</key>
				<string>Search Java SE8 for "{query}"</string>
				<key>title</key>
				<string>Search Java SE8</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_java</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>js</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "js:{query}"</string>
				<key>subtext</key>
				<string>Search JavaScript for "{query}"</string>
				<key>title</key>
				<string>Search JavaScript</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_js</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>man</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "man:{query}"</string>
				<key>subtext</key>
				<string>Search Man Pages for "{query}"</string>
				<key>title</key>
				<string>Search Man Pages</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_man</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>md</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "md:{query}"</string>
				<key>subtext</key>
				<string>Search Markdown for "{query}"</string>
				<key>title</key>
				<string>Search Markdown</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_md</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>mongo</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "mongo:{query}"</string>
				<key>subtext</key>
				<string>Search MongoDB for "{query}"</string>
				<key>title</key>
				<string>Search MongoDB</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_mongo</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>node</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "node:{query}"</string>
				<key>subtext</key>
				<string>Search Node.js for "{query}"</string>
				<key>title</key>
				<string>Search Node.js</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_node</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>redis</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "redis:{query}"</string>
				<key>subtext</key>
				<string>Search Redis for "{query}"</string>
				<key>title</key>
				<string>Search Redis</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_redis</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>110</integer>
				<key>keyword</key>
				<string>spring</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"</string>
				<key>script</key>
				<string>./dashAlfredWorkflow "spring:{query}"</string>
				<key>subtext</key>
				<string>Search Spring Framework for "{query}"</string>
				<key>title</key>
				<string>Search Spring Framework</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>dash_keyword_spring</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Usage:
'dash {query}'
'{keyword} {query}'

The keyword is either a docset keyword (defined in Preferences &gt; Docsets) or a search profile keyword trigger (defined by clicking on the loupe icon of the main search field).</string>
	<key>uidata</key>
	<dict>
		<key>12B8CAB5-9FEE-46F2-B67E-026F4BE48A88</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>406C4166-C9CF-496F-8DB1-D43CE5211BEA</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>5C09F008-55F3-4966-BACC-DF3176E148A5</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>dash_action_alt</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>dash_action_cmd</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>dash_action_normal</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>dash_keyword_bash</key>
		<dict>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>dash_keyword_coffee</key>
		<dict>
			<key>ypos</key>
			<integer>1050</integer>
		</dict>
		<key>dash_keyword_docker</key>
		<dict>
			<key>ypos</key>
			<integer>1170</integer>
		</dict>
		<key>dash_keyword_elastic</key>
		<dict>
			<key>ypos</key>
			<integer>1290</integer>
		</dict>
		<key>dash_keyword_elisp</key>
		<dict>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>dash_keyword_emacs</key>
		<dict>
			<key>ypos</key>
			<integer>1530</integer>
		</dict>
		<key>dash_keyword_go</key>
		<dict>
			<key>ypos</key>
			<integer>1650</integer>
		</dict>
		<key>dash_keyword_http</key>
		<dict>
			<key>ypos</key>
			<integer>1770</integer>
		</dict>
		<key>dash_keyword_java</key>
		<dict>
			<key>ypos</key>
			<integer>1890</integer>
		</dict>
		<key>dash_keyword_js</key>
		<dict>
			<key>ypos</key>
			<integer>2010</integer>
		</dict>
		<key>dash_keyword_man</key>
		<dict>
			<key>ypos</key>
			<integer>2130</integer>
		</dict>
		<key>dash_keyword_md</key>
		<dict>
			<key>ypos</key>
			<integer>2250</integer>
		</dict>
		<key>dash_keyword_mongo</key>
		<dict>
			<key>ypos</key>
			<integer>2370</integer>
		</dict>
		<key>dash_keyword_node</key>
		<dict>
			<key>ypos</key>
			<integer>2490</integer>
		</dict>
		<key>dash_keyword_redis</key>
		<dict>
			<key>ypos</key>
			<integer>2610</integer>
		</dict>
		<key>dash_keyword_spring</key>
		<dict>
			<key>ypos</key>
			<integer>2730</integer>
		</dict>
		<key>dash_note_readme</key>
		<dict>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>kapeli.com</string>
</dict>
</plist>
