<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emptytrashKeywordEnabled</key>
	<false/>
	<key>forcequitKeyword</key>
	<string>kill</string>
	<key>logoutKeywordEnabled</key>
	<false/>
	<key>quitallKeyword</key>
	<string>clear</string>
	<key>screensaverKeywordEnabled</key>
	<false/>
	<key>showtrashKeywordEnabled</key>
	<false/>
	<key>sleepKeywordEnabled</key>
	<false/>
	<key>sleepdisplaysKeywordEnabled</key>
	<false/>
	<key>volumeupKeyword</key>
	<string> volup</string>
</dict>
</plist>
